html, body {
	background: #000;
	color: #fff;
}
.flashcard {
	height: 260px;
}
.lArr { 
	float: left;
	color: #904040;
}
.rArr { 
	float: right; 
	color: #904040;
}
#questions_list {
}
#questions_list ul {
	list-style-type: none;
}
#questions_list ul li {
	margin: 5px auto;
	background: #fff;
	border-radius: 5px;
	
}
#questions_list ul li a {
	color: #904040;
	padding: 5px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
#buttons {
	margin: auto;
	width: 290px;
}
.button {
	background: #fff;
	color: #904040;
	margin: 5px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}
.button a {
	padding: 5px 0;
	text-decoration: none;
	display: block;
}
.half_button {
	width: 135px;
	float: left;
}
.full_button {
	width: 280px;
	float: left;
}
.blah {
	padding: 3px 30px;
	padding: 3px 100px;
}
#front:hover, #back:hover {
	cursor: pointer;
}
.spacer { clear: both; }
.left { float: left; }
.right { float: right; }
