* {
	margin: 0;
	padding: 0;
}
html, body {
	background: #000;
	color: #fff;
	font-family: Helvetica;
}
ul {
  list-style-type: none;
}
ul li {
	margin: 5px auto;
	background: #fff;
	border-radius: 5px;	
  color: #666;
  border-top: 1px solid #333;
  border-bottom: #555858;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#4C4D4E),to(#404142));
  overflow: hidden;
}
ul li a {
	color: #904040;
	padding: 5px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	
	color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 12px 10px 12px 10px;
  margin: -10px;
  -webkit-tap-highlight-color: transparent;
  text-shadow: rgba(0, 0, 0, .2) 0 1px 1px;
}
ul.individual {
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
  padding-bottom: 3px;
  -webkit-box-shadow: none;
  text-align: center;
}
ul.individual li {
  background: #4C4D4E;
  border: 1px solid #333;
  font-size: 14px;
  text-align: center;
  -webkit-border-radius: 8px;
  -webkit-box-sizing: border-box;
  width: 48%;
  float: left;
  display: block;
  padding: 11px 10px 14px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, .2) 1px 1px 3px;
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#4C4D4E),to(#404142));
  box-sizing: border-box;
}
ul.individual li + li {
  float: right;
}
ul.individual li a {
  color: white;
  line-height: 16px;
  margin: -11px -10px -14px -10px;
  padding: 11px 10px 14px 10px;
  -webkit-border-radius: 8px;
  text-align: center;
  display: block;
}

#site {
	min-height: 420px;
	display: block !important;
	z-index: 1;
}
#header {
  text-align: left;  
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid black;
  padding: 10px;
  height: 45px;
  background: url(../images/toolbar.png) black repeat-x;
  position: relative;
  box-sizing: border-box;
}
#header .top_button {
  position: absolute;
  overflow: hidden;
  top: 8px;
  right: 10px;
  margin: 0;
  border-width: 0 5px;
  padding: 0 3px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  -webkit-border-image: url(../../images/jqt/button.png) 0 5 0 5;
}
#header > h1 {
  text-align: left;
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 50%;
  top: 10px;
  line-height: 1em;
  margin: 1px 1% 0 1%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 1) 0 -1px 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}
#footer {
  text-align: center;
  font-size: 12px;
  height: 30px;
  margin-top: -30px;
}
#yield {
  margin: 5px;
}


.flashcard {
	height: 260px;
	overflow: hidden;
	overflow-y: auto;
}
.lArr { 
	float: left;
	color: #904040;
}
.rArr { 
	float: right; 
	color: #904040;
}
#questions_list {
}
#questions_list ul {
	list-style-type: none;
}
#questions_list ul li {
	margin: 5px auto;
	background: #fff;
	border-radius: 5px;
	
}
#questions_list ul li a {
	color: #904040;
	padding: 5px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.button {
	background: #fff;
	color: #904040;
	margin: 5px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}
.button a {
	color: #904040;
	padding: 5px 0;
	text-decoration: none;
	display: block;
}
.half_button {
  width: 48%;
  text-align: center;
}
.full_button {
	float: left;
	
	border-width: 0 5px;
  padding: 0 3px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  -webkit-border-image: url(../../images/button.png) 0 5 0 5;
	
}
#front:hover, #back:hover {
	cursor: pointer;
}
.spacer { clear: both; }
.left { float: left; }
.right { float: right; }
