html, body {
	background: #fff;
	color: #333;
}
#questions_list {
}
#questions_list ul {
	list-style-type: none;
}
#questions_list ul li {
	margin: 5px auto;
	background: #fff;
	border-radius: 5px;
	
}
#questions_list ul li a {
	padding: 5px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
.button {
	width: 200px;
	padding: 2px 5px 3px;
	background: #fff;
	border-radius: 5px;
	text-decoration: none;
}
