	<ul class="rounded">
		<li class="arrow"><%= link_to 'Questions', questions_path %></li>
	</ul>
	<h2>External Links</h2>
	<ul class="rounded">
		<li class="forward"><a href="http://www.pairstream.com/" target="_blank">Pairstream</a></li>
		<li class="forward"><a href="http://code.google.com/p/jqtouch/w/list" target="_blank">Google Code</a></li>
	</ul>
	<ul class="individual">
		<li class="left"><%= link_to 'Previous question', questions_path %></li>
		<li class="right"><%= link_to 'Next question', questions_path %></li>
		<br class="spacer"/>
	</ul>
